<?xml version="1.0" encoding="UTF-8" ?>

<cordova>
    <!--
    access elements control the Android whitelist.
    Domains are assumed blocked unless set otherwise
     -->

    <access origin="http://127.0.0.1*"/> <!-- allow local pages -->
    <access origin="http://85.158.203.17*"/> <!-- allow requests from your server -->


    <!-- <access origin="https://example.com" /> allow any secure requests to example.com -->
    <!-- <access origin="https://example.com" subdomains="true" /> such as above, but including subdomains, such as www -->
    <access origin=".*"/>

    <log level="DEBUG"/>
    <preference name="useBrowserHistory" value="false" />
</cordova>
<widget xmlns   = "http://www.w3.org/ns/widgets"
	xmlns:gap   = "http://phonegap.com/ns/1.0"
	id          = "com.phonegap.example"
	versionCode = "10" 
	version     = "1.0.2" >
	
	<!-- versionCode is optional and Android only -->
	
	<name>Cardio Fitness Noord</name>
	<description>Sportschool app</description>
	
	<author href="http://www.cardiofitness-noord.nl" email="app@cardiofitness-noord.nl">Martin Siepkes</author>
	<!-- 
	<gap:splash src="images/splash.png" />
	<preference name="SplashScreenDelay" value="1500" />
	<preference name="splash-screen-duration" value="1500"/>
	-->
	<preference name="fullscreen" value="false" />
	<preference name="target-device" value="handset" />
	
	<icon src="images/logosmall.png" />
	<!-- 
	<gap:plugin name="org.apache.cordova.vibration" version="0.3.11" /> 
	<gap:plugin name="com.footprint.cordova.plugin.local-notification" version="0.8.0" /> 
	-->
	<gap:plugin name="nl.genkgo.inappbrowser" version="0.5.0" />
	<access origin="http://phonegap.com" subdomains="true" />
</widget>
